In [2]:
import pandas as pd

# Cargar el archivo vgsales.csv en un DataFrame de Pandas
df = pd.read_csv('vgsales.csv')

# Muestra las primeras 10 filas del DataFrame
df.head(10)

# Muestra las últimas 5 filas del DataFrame
df.tail(5)

# Utiliza el método info() para obtener información general sobre el DataFrame
df.info()

# Genera estadísticas descriptivas del DataFrame utilizando el método describe()
df.describe()

# Inspecciona los tipos de datos de cada columna utilizando el atributo dtypes
df.dtypes

# Cuenta los valores únicos en la columna Genre utilizando el método value_counts()
df['Genre'].value_counts()

# Muestra todos los valores únicos en la columna Platform utilizando el método unique()
df['Platform'].unique()

# Filtra el DataFrame para mostrar solo las filas donde las ventas en América del Norte (NA_Sales) sean mayores a 1 millón
df_filtrado = df[df['NA_Sales'] > 1e6]
df_filtrado

# Filtra el DataFrame para mostrar solo las filas donde las ventas en Japón (JP_Sales) sean menores a 0.1 millón
df_filtrado = df[df['JP_Sales'] < 1e5]
df_filtrado

# Utilizando el método query(), filtra el DataFrame para mostrar las filas donde el género sea Action y las ventas globales (Global_Sales) sean mayores a 2 millones
df_filtrado = df.query('Genre == "Action" and Global_Sales > 2e6')
df_filtrado

# Selecciona y muestra solo las columnas Name y Global_Sales del DataFrame
df[['Name', 'Global_Sales']]

# Utilizando loc[], selecciona y muestra las filas de la 5 a la 10 (inclusive) y las columnas Name y Genre
df.loc[5:10, ['Name', 'Genre']]

# Utilizando iloc[], selecciona y muestra las primeras 5 filas y las primeras 3 columnas del DataFrame
df.iloc[:5, :3]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

   Rank                      Name Platform
0     1                Wii Sports      Wii
1     2         Super Mario Bros.      NES
2     3            Mario Kart Wii      Wii
3     4         Wii Sports Resort      Wii
4     5  Pokemon Red/Pokemon Blue       GB